:root {
    --background-color: white;
    --text-color: black;
    --icon-color:black;
}

.darkMode {
    --background-color: black;
    --text-color: white;
    --icon-color:white;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.homepage {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.hero {
    text-align: center;
}

img {
    width: 390.375px;
    height: 520.3125px;
    object-fit: contain;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons a {
    text-decoration: none;
    color: var(--icon-color);
    font-size: 1.5rem;
}


.header {
    position: fixed;
    width: 100%;
    font-weight: 700;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 40px;
    padding-right: 40px;

}

.header a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.aboutSection {
    display: flex;
    gap: 50px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.rightSide {
    display: flex;
    gap: 40px;
}

.reading h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.reading {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 600px;
    text-indent: 2em;
}

.quote {
    text-indent: 0em;
    font-style: italic;
    text-align: center;
}

.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 80px;
}


#bgCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    pointer-events:none;
}

a {
    pointer-events: auto;
}