:root {
    --background-color: white;
    --text-color: black;
    --icon-color:black;
}

.darkMode {
    --background-color: black;
    --text-color: white;
    --icon-color:white;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.homepage {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.hero {
    text-align: center;
}

img {
    width: 390.375px;
    height: 520.3125px;
    object-fit: contain;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: var(--icon-color);
    font-size: 1.5rem;
}

.theme-switch {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    right: 20px;
}

.theme-switch svg {
    width: 2rem;
    height: 2rem;
}

.theme-switch svg:last-child {
    display: none;
}

.darkMode .theme-switch svg:first-child {
    display: block;
}